:root {
	--home-hero-container-bg: url("data:image/svg+xml,%3Csvg width='376' height='102' viewBox='0 0 376 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_986_1659)'%3E%3Cg clip-path='url(%23clip1_986_1659)'%3E%3Cpath d='M66.08 46.42H-42L-31.93 24.48L-18.25 22.53L-10.96 5H97.64L80.96 32.29L71.06 36.24L66.09 46.42M-6.93 11.04L-13.99 28.02L-27.81 29.99L-32.58 40.37H62.31L67.09 31.31L76.85 27.42L86.85 11.04H-6.93Z' fill='%23FF890F'/%3E%3Cpath d='M62.28 32.18L57.11 29.46L51.93 32.18L52.92 26.42L48.73 22.34L54.52 21.5L57.11 16.25L59.69 21.5L65.48 22.34L61.29 26.42L62.28 32.18Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip2_986_1659)'%3E%3Cpath d='M192.08 46.42H84L94.07 24.48L107.75 22.53L115.04 5H223.64L206.96 32.29L197.06 36.24L192.09 46.42M119.07 11.04L112.01 28.02L98.19 29.99L93.42 40.37H188.31L193.09 31.31L202.85 27.42L212.85 11.04H119.07Z' fill='%23FF890F'/%3E%3Cpath d='M188.28 32.18L183.11 29.46L177.93 32.18L178.92 26.42L174.73 22.34L180.52 21.5L183.11 16.25L185.69 21.5L191.48 22.34L187.29 26.42L188.28 32.18Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip3_986_1659)'%3E%3Cpath d='M318.08 46.42H210L220.07 24.48L233.75 22.53L241.04 5H349.64L332.96 32.29L323.06 36.24L318.09 46.42M245.07 11.04L238.01 28.02L224.19 29.99L219.42 40.37H314.31L319.09 31.31L328.85 27.42L338.85 11.04H245.07Z' fill='%23FF890F'/%3E%3Cpath d='M314.28 32.18L309.11 29.46L303.93 32.18L304.92 26.42L300.73 22.34L306.52 21.5L309.11 16.25L311.69 21.5L317.48 22.34L313.29 26.42L314.28 32.18Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip4_986_1659)'%3E%3Cpath d='M444.08 46.42H336L346.07 24.48L359.75 22.53L367.04 5H475.64L458.96 32.29L449.06 36.24L444.09 46.42M371.07 11.04L364.01 28.02L350.19 29.99L345.42 40.37H440.31L445.09 31.31L454.85 27.42L464.85 11.04H371.07Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip5_986_1659)'%3E%3Cpath d='M-10.92 97.42H-119L-108.93 75.48L-95.25 73.53L-87.96 56H20.64L3.96 83.29L-5.94 87.24L-10.91 97.42M-83.93 62.04L-90.99 79.02L-104.81 80.99L-109.58 91.37H-14.69L-9.91 82.31L-0.150002 78.42L9.85001 62.04H-83.93Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip6_986_1659)'%3E%3Cpath d='M113.08 97.42H5L15.07 75.48L28.75 73.53L36.04 56H144.64L127.96 83.29L118.06 87.24L113.09 97.42M40.07 62.04L33.01 79.02L19.19 80.99L14.42 91.37H109.31L114.09 82.31L123.85 78.42L133.85 62.04H40.07Z' fill='%23FF890F'/%3E%3Cpath d='M109.28 83.18L104.11 80.46L98.93 83.18L99.92 77.42L95.73 73.34L101.52 72.5L104.11 67.25L106.69 72.5L112.48 73.34L108.29 77.42L109.28 83.18Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip7_986_1659)'%3E%3Cpath d='M239.08 97.42H131L141.07 75.48L154.75 73.53L162.04 56H270.64L253.96 83.29L244.06 87.24L239.09 97.42M166.07 62.04L159.01 79.02L145.19 80.99L140.42 91.37H235.31L240.09 82.31L249.85 78.42L259.85 62.04H166.07Z' fill='%23FF890F'/%3E%3Cpath d='M235.28 83.18L230.11 80.46L224.93 83.18L225.92 77.42L221.73 73.34L227.52 72.5L230.11 67.25L232.69 72.5L238.48 73.34L234.29 77.42L235.28 83.18Z' fill='%23FF890F'/%3E%3C/g%3E%3Cg clip-path='url(%23clip8_986_1659)'%3E%3Cpath d='M365.08 97.42H257L267.07 75.48L280.75 73.53L288.04 56H396.64L379.96 83.29L370.06 87.24L365.09 97.42M292.07 62.04L285.01 79.02L271.19 80.99L266.42 91.37H361.31L366.09 82.31L375.85 78.42L385.85 62.04H292.07Z' fill='%23FF890F'/%3E%3Cpath d='M361.28 83.18L356.11 80.46L350.93 83.18L351.92 77.42L347.73 73.34L353.52 72.5L356.11 67.25L358.69 72.5L364.48 73.34L360.29 77.42L361.28 83.18Z' fill='%23FF890F'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_986_1659'%3E%3Crect width='376' height='102' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(-42 5)'/%3E%3C/clipPath%3E%3CclipPath id='clip2_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(84 5)'/%3E%3C/clipPath%3E%3CclipPath id='clip3_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(210 5)'/%3E%3C/clipPath%3E%3CclipPath id='clip4_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(336 5)'/%3E%3C/clipPath%3E%3CclipPath id='clip5_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(-119 56)'/%3E%3C/clipPath%3E%3CclipPath id='clip6_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(5 56)'/%3E%3C/clipPath%3E%3CclipPath id='clip7_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(131 56)'/%3E%3C/clipPath%3E%3CclipPath id='clip8_986_1659'%3E%3Crect width='139.63' height='41.42' fill='white' transform='translate(257 56)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	--logo-block-bg: url("data:image/svg+xml,%3Csvg width='614' height='206' viewBox='0 0 614 206' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1036_2933)'%3E%3Cpath d='M5 5.89978H25.6187C33.0915 5.89978 37.8649 7.7756 40.8083 10.719C43.3399 13.2505 44.6667 16.3922 44.6667 20.7233V20.8453C44.6667 26.9913 41.4641 31.2767 36.3399 33.7473L46.1612 48.098H30.0566L22.0959 36.0349H19.0763V48.098H5V5.89978ZM25.207 25.9847C28.5773 25.9847 30.6362 24.4749 30.6362 21.8824V21.7603C30.6362 19.0458 28.5316 17.719 25.268 17.719H19.122V25.9847H25.207ZM47.1525 27.1285V27.0065C47.1525 14.7603 57.2179 5 70.2418 5C83.2658 5 93.2092 14.6536 93.2092 26.8845V27.0065C93.2092 39.2527 83.1438 49.0131 70.1198 49.0131C57.0959 49.0131 47.1525 39.3595 47.1525 27.1285ZM78.9804 27.1285V27.0065C78.9804 22.0044 75.549 17.4749 70.1198 17.4749C64.6906 17.4749 61.3813 21.9281 61.3813 26.8845V27.0065C61.3813 32.0087 64.8126 36.5381 70.2418 36.5381C75.671 36.5381 78.9804 32.0697 78.9804 27.1285ZM96.1068 27.1285V27.0065C96.1068 14.4096 105.928 5 118.54 5C127.828 5 134.096 9.51416 137.649 15.9651L126.013 22.7821C124.442 19.7625 122.216 17.658 118.357 17.658C113.599 17.658 110.458 21.8214 110.458 26.8845V27.0065C110.458 32.4967 113.721 36.3551 118.357 36.3551C122.338 36.3551 124.564 34.1895 126.318 31.0479L137.954 37.6209C134.401 43.8889 128.484 49.0131 117.991 49.0131C106.294 49.0131 96.1068 40.2135 96.1068 27.1285ZM140.669 5.89978H154.776V21.6993L166.778 5.89978H183.172L168.455 24.2309L183.477 48.1133H166.656L158.39 34.7233L154.776 39.1307V48.1133H140.669V5.89978ZM195.418 33.1525L179.497 5.89978H195.296L202.525 19.7625L209.815 5.89978H225.431L209.51 32.9695V48.098H195.403V33.1373M252.989 17.841H240.575V5.89978H279.525V17.841H267.111V48.1133H253.004V17.841M279.952 27.1285V27.0065C279.952 14.7603 290.017 5 303.041 5C316.065 5 326.009 14.6536 326.009 26.8845V27.0065C326.009 39.2527 315.943 49.0131 302.919 49.0131C289.895 49.0131 279.952 39.3595 279.952 27.1285ZM311.78 27.1285V27.0065C311.78 22.0044 308.349 17.4749 302.919 17.4749C297.49 17.4749 294.181 21.9281 294.181 26.8845V27.0065C294.181 32.0087 297.612 36.5381 303.041 36.5381C308.471 36.5381 311.78 32.0697 311.78 27.1285ZM329.867 5.89978H348.854C360.063 5.89978 367.719 10.902 367.719 20.9063V21.0283C367.719 31.2157 359.941 36.6449 348.549 36.6449H343.959V48.098H329.852V5.89978M347.771 26.5795C351.386 26.5795 353.795 24.9477 353.795 21.9281V21.8061C353.795 18.7255 351.569 17.1699 347.832 17.1699H343.974V26.5795H347.771ZM398.601 33.1525L382.695 5.89978H398.495L405.723 19.7625L413.013 5.89978H428.63L412.708 32.9695V48.098H398.601V33.1373M424.893 27.1285V27.0065C424.893 14.7603 434.959 5 447.983 5C461.007 5 470.95 14.6536 470.95 26.8845V27.0065C470.95 39.2527 460.885 49.0131 447.861 49.0131C434.837 49.0131 424.893 39.3595 424.893 27.1285ZM456.736 27.1285V27.0065C456.736 22.0044 453.305 17.4749 447.876 17.4749C442.447 17.4749 439.137 21.9281 439.137 26.8845V27.0065C439.137 32.0087 442.569 36.5381 447.998 36.5381C453.427 36.5381 456.736 32.0697 456.736 27.1285ZM474.457 29.1721V5.89978H488.808V28.9891C488.808 34.2353 491.523 36.4619 495.32 36.4619C499.118 36.4619 501.832 34.403 501.832 29.2789V5.89978H516.183V28.8671C516.183 43.2789 507.81 48.9368 495.198 48.9368C482.586 48.9368 474.457 43.1569 474.457 29.1569M519.203 25.1307C523.122 24.6427 525.349 22.8431 525.349 19.7625H519.858V5.89978H533.843V16.9412C533.843 26.8235 528.109 29.7821 520.285 30.1481L519.203 25.146M537.656 5.89978H551.763V36.0501H571.603V48.1133H537.656V5.89978ZM574.669 5.89978H588.776V36.0501H608.617V48.1133H574.669V5.89978ZM24.0174 57.7516H38.9782L57.9956 103.214H41.6166L39.2375 97.159H23.4379L21.1198 103.214H5L24.0174 57.7516ZM35.5011 86.4379L31.3682 75.4728L27.2353 86.4379H35.4858M59.8715 58.0719H74.9542V90.3115H96.1678V103.214H59.8715V58.0719ZM90.4335 58.0719H106.233L112.623 79.7429L119.913 57.9499H132.937L140.227 79.7429L146.617 58.0719H162.157L147.394 103.534H134.233L126.303 81.1002L118.373 103.534H105.211L90.4488 58.0719M174.647 57.7516H189.608L208.625 103.214H192.246L189.852 97.159H174.052L171.734 103.214H155.614L174.632 57.7516M186.131 86.4379L181.998 75.4728L177.865 86.4379H186.115M216.83 87.2157L199.81 58.0719H216.708L224.44 72.9107L232.248 58.0719H248.948L231.928 87.0327V103.214H216.845V87.2157M244.495 96.4423L252.562 86.8344C257.458 90.5708 263.07 92.1264 268.362 92.1264C271.076 92.1264 272.235 91.4096 272.235 90.1895V90.0523C272.235 88.756 270.817 88.0545 265.983 87.0937C255.856 85.0349 246.965 82.122 246.965 72.5904V72.4684C246.965 63.8976 253.675 57.2484 266.12 57.2484C274.828 57.2484 281.279 59.3072 286.495 63.4401L279.144 73.6274C274.889 70.5316 269.795 69.1743 265.601 69.1743C263.344 69.1743 262.307 69.9521 262.307 71.0501V71.1874C262.307 72.4074 263.527 73.1852 268.301 74.085C279.845 76.2048 287.577 79.5599 287.577 88.6645V88.7865C287.577 98.2723 279.769 104.068 267.645 104.068C258.495 104.068 250.229 101.49 244.495 96.4575M307.418 58.0719H332.704C338.956 58.0719 342.891 59.4902 345.529 62.1285C347.146 63.7451 348.305 66.0632 348.305 69.159V69.281C348.305 74.634 345.087 77.9281 340.237 79.6057C346.048 81.2832 349.784 84.3791 349.784 90.5708V90.6928C349.784 97.9216 343.852 103.198 332.444 103.198H307.418V58.0566M333.466 72.5752C333.466 70.5773 331.85 69.4793 328.632 69.4793H322.12V75.793H328.693C331.911 75.793 333.466 74.695 333.466 72.6972V72.5752ZM329.73 85.0959H322.12V91.8061H329.669C332.963 91.8061 334.641 90.4488 334.641 88.512V88.39C334.641 86.4532 333.024 85.0959 329.745 85.0959M353.078 58.0719H391.571V70.4553H367.902V75.0305H389.954V85.9346H367.902V90.8301H391.891V103.214H353.078V58.0719ZM412.327 58.0719H427.41V74.0087H441.211V58.0719H456.294V103.214H441.211V87.0327H427.41V103.214H412.327V58.0719ZM460.427 80.7647V80.6427C460.427 67.5577 471.194 57.1111 485.133 57.1111C499.072 57.1111 509.702 67.4205 509.702 80.5207V80.658C509.702 93.7429 498.935 104.19 485.011 104.19C471.087 104.19 460.442 93.8802 460.442 80.78M494.481 80.7647V80.6427C494.481 75.2898 490.806 70.4553 485.011 70.4553C479.216 70.4553 475.662 75.2288 475.662 80.5207V80.658C475.662 86.0109 479.338 90.8453 485.148 90.8453C490.959 90.8453 494.497 86.0719 494.497 80.78M513.834 58.0719H529.573L539.242 73.9325L548.911 58.0719H564.649V103.214H549.627V80.841L539.242 96.8998H538.983L528.597 80.841V103.214H513.834V58.0719ZM569.804 58.0719H608.296V70.4553H584.627V75.0305H606.68V85.9346H584.627V90.8301H608.617V103.214H569.804V58.0719ZM5 147.059L12.122 138.58C16.4532 141.874 21.3943 143.246 26.061 143.246C28.4553 143.246 29.4771 142.621 29.4771 141.538V141.431C29.4771 140.288 28.2266 139.662 23.9564 138.808C15.0196 136.993 7.16558 134.431 7.16558 125.998V125.891C7.16558 118.327 13.0828 112.455 24.0632 112.455C31.7495 112.455 37.4379 114.27 42.0436 117.915L35.5621 126.913C31.8105 124.183 27.3115 122.993 23.6057 122.993C21.6078 122.993 20.7081 123.68 20.7081 124.641V124.747C20.7081 125.83 21.7908 126.516 26 127.309C36.1874 129.185 43.0196 132.144 43.0196 140.181V140.288C43.0196 148.66 36.1264 153.784 25.4357 153.784C17.3529 153.784 10.0632 151.512 5 147.074M42.3943 113.187H56.3333L61.976 132.312L68.4118 113.065H79.9107L86.3464 132.312L91.9891 113.187H105.699L92.6601 153.312H81.0545L74.0545 133.501L67.0545 153.312H55.4488L42.4096 113.187M107.972 113.187H141.95V124.122H121.057V128.163H140.516V137.786H121.057V142.118H142.224V153.052H107.956V113.203M145.824 113.187H179.802V124.122H158.908V128.163H178.368V137.786H158.908V142.118H180.091V153.052H145.824V113.203M193.878 124.458H182.15V113.187H218.919V124.458H207.192V153.037H193.878V124.458ZM236.396 113.187H249.71V127.248H261.895V113.187H275.209V153.037H261.895V138.747H249.71V153.037H236.396V113.187ZM278.854 133.227V133.105C278.854 121.545 288.355 112.333 300.647 112.333C312.939 112.333 322.333 121.438 322.333 132.998V133.105C322.333 144.664 312.832 153.876 300.54 153.876C288.248 153.876 278.854 144.771 278.854 133.211M308.913 133.227V133.105C308.913 128.377 305.664 124.107 300.54 124.107C295.416 124.107 292.29 128.316 292.29 132.983V133.089C292.29 137.817 295.538 142.087 300.662 142.087C305.786 142.087 308.913 137.878 308.913 133.211M325.993 113.187H339.887L348.427 127.187L356.967 113.187H370.861V153.037H357.593V133.288L348.427 147.455H348.198L339.033 133.288V153.037H325.993V113.187ZM375.405 113.187H409.383V124.122H388.49V128.163H407.95V137.786H388.49V142.118H409.658V153.052H375.39V113.203M437.902 124.458H426.174V113.187H462.943V124.458H451.216V153.037H437.902V124.458ZM463.355 133.227V133.105C463.355 121.545 472.856 112.333 485.163 112.333C497.471 112.333 506.85 121.438 506.85 132.998V133.105C506.85 144.664 497.349 153.876 485.041 153.876C472.734 153.876 463.355 144.771 463.355 133.211M493.399 133.227V133.105C493.399 128.377 490.15 124.107 485.026 124.107C479.902 124.107 476.776 128.316 476.776 132.983V133.089C476.776 137.817 480.024 142.087 485.148 142.087C490.272 142.087 493.399 137.878 493.399 133.211M524.937 113.187H538.83L547.37 127.187L555.911 113.187H569.804V153.037H556.536V133.288L547.37 147.455H547.142L537.976 133.288V153.037H524.937V113.187ZM574.349 113.187H608.327V124.122H587.434V128.163H606.893V137.786H587.434V142.118H608.601V153.052H574.333V113.203M5 181.678V181.571C5 170.438 13.7843 162.126 25.5577 162.126C31.9477 162.126 37.1176 164.261 41.159 167.769L34.1743 176.187C31.719 174.113 29.0044 172.939 25.9237 172.939C21.0741 172.939 17.5664 176.66 17.5664 181.723V181.83C17.5664 187.107 21.2418 190.721 26.4575 190.721C28.5926 190.721 29.7516 190.401 30.7124 189.867V186.146H24.3224V178.155H42.3791V195.403C38.3377 198.712 32.6797 201 25.9237 201C14.3181 201 5 193.222 5 181.662M45.1547 181.678V181.571C45.1547 170.758 54.0458 162.126 65.5447 162.126C77.0436 162.126 85.8279 170.651 85.8279 181.464V181.571C85.8279 192.383 76.9368 201.015 65.4379 201.015C53.939 201.015 45.1547 192.49 45.1547 181.678ZM73.2767 181.678V181.571C73.2767 177.148 70.2418 173.153 65.4532 173.153C60.6645 173.153 57.7364 177.087 57.7364 181.464V181.571C57.7364 185.993 60.7712 189.989 65.5599 189.989C70.3486 189.989 73.2767 186.054 73.2767 181.678ZM88.39 181.678V181.571C88.39 170.758 97.2811 162.126 108.78 162.126C120.279 162.126 129.063 170.651 129.063 181.464V181.571C129.063 192.383 120.172 201.015 108.673 201.015C97.1743 201.015 88.3747 192.49 88.3747 181.678M116.512 181.678V181.571C116.512 177.148 113.477 173.153 108.688 173.153C103.9 173.153 100.972 177.087 100.972 181.464V181.571C100.972 185.993 104.007 189.989 108.795 189.989C113.584 189.989 116.512 186.054 116.512 181.678ZM132.495 162.935H146.769C161.577 162.935 168.974 170.224 168.974 181.251V181.357C168.974 192.383 161.41 200.207 146.342 200.207H132.495V162.935ZM144.954 173.793V189.349H147.028C152.732 189.349 156.407 187 156.407 181.632V181.525C156.407 176.142 152.732 173.808 147.028 173.808H144.954M185.048 181.678V181.571C185.048 170.758 193.939 162.126 205.438 162.126C216.937 162.126 225.721 170.651 225.721 181.464V181.571C225.721 192.383 216.83 201.015 205.316 201.015C193.802 201.015 185.033 192.49 185.033 181.678M213.17 181.678V181.571C213.17 177.148 210.135 173.153 205.346 173.153C200.558 173.153 197.63 177.087 197.63 181.464V181.571C197.63 185.993 200.664 189.989 205.453 189.989C210.242 189.989 213.17 186.054 213.17 181.678ZM229.137 162.935H241.597V189.562H259.12V200.207H229.137V162.935ZM258.434 179.924C261.895 179.497 263.863 177.895 263.863 175.181H259.013V162.935H271.366V172.68C271.366 181.418 266.303 184.026 259.379 184.346L258.418 179.924M288.248 162.935H306.458C313.061 162.935 317.27 164.582 319.878 167.19C322.12 169.431 323.279 172.192 323.279 176.035V176.142C323.279 181.571 320.458 185.353 315.928 187.534L324.606 200.207H310.392L303.362 189.562H300.693V200.207H288.233V162.935M306.091 180.656C309.081 180.656 310.88 179.329 310.88 177.041V176.935C310.88 174.54 309.02 173.366 306.137 173.366H300.708V180.656H306.091ZM325.475 181.678V181.571C325.475 170.758 334.366 162.126 345.865 162.126C357.364 162.126 366.148 170.651 366.148 181.464V181.571C366.148 192.383 357.257 201.015 345.758 201.015C334.259 201.015 325.475 192.49 325.475 181.678ZM353.597 181.678V181.571C353.597 177.148 350.562 173.153 345.773 173.153C340.985 173.153 338.057 177.087 338.057 181.464V181.571C338.057 185.993 341.092 189.989 345.88 189.989C350.669 189.989 353.597 186.054 353.597 181.678ZM368.71 181.678V181.571C368.71 170.438 377.388 162.126 388.521 162.126C396.725 162.126 402.261 166.122 405.403 171.826L395.124 177.85C393.736 175.181 391.769 173.32 388.368 173.32C384.159 173.32 381.383 176.996 381.383 181.464V181.571C381.383 186.42 384.266 189.821 388.368 189.821C391.876 189.821 393.858 187.9 395.399 185.139L405.678 190.95C402.536 196.486 397.32 201.015 388.048 201.015C377.723 201.015 368.71 193.237 368.71 181.678ZM408.072 162.935H420.532V176.889L431.131 162.935H445.619L432.625 179.131L445.893 200.222H431.039L423.749 188.403L420.562 192.292V200.222H408.102V162.95M456.416 187L442.355 162.935H456.309L462.699 175.181L469.15 162.935H482.937L468.876 186.847V200.222H456.416V187.015M507.277 173.473H496.312V162.935H530.717V173.473H519.752V200.207H507.292V173.473M531.083 181.678V181.571C531.083 170.758 539.974 162.126 551.473 162.126C562.972 162.126 571.756 170.651 571.756 181.464V181.571C571.756 192.383 562.865 201.015 551.366 201.015C539.867 201.015 531.083 192.49 531.083 181.678ZM559.205 181.678V181.571C559.205 177.148 556.17 173.153 551.381 173.153C546.593 173.153 543.664 177.087 543.664 181.464V181.571C543.664 185.993 546.699 189.989 551.488 189.989C556.277 189.989 559.205 186.054 559.205 181.678ZM575.172 162.935H591.948C601.845 162.935 608.617 167.357 608.617 176.203V176.309C608.617 185.307 601.739 190.096 591.688 190.096H587.647V200.222H575.187V162.95M590.987 181.19C594.19 181.19 596.309 179.756 596.309 177.087V176.98C596.309 174.266 594.342 172.878 591.033 172.878H587.632V181.19H590.987Z' fill='%23FBFBFB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1036_2933'%3E%3Crect width='603.617' height='196' fill='white' transform='translate(5 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	--home-hero-3col-width: 500px;
}

.fade-right {
	opacity: 0;
	transform: translateX(-25px);
}

@media screen and (min-width: 768px) {
	.fade-up {
		opacity: 0;
		transform: translateY(25px);
	}

	.fade-left {
		opacity: 0;
		transform: translateX(100%);
	}

	.fade-left-after {
		opacity: 0;
		transform: translateX(25px);
	}
}

.home-hero-container {
	background: var(--home-hero-container-bg) var(--wp--preset--color--orange);
	background-repeat: repeat;
}

.home-hero {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: repeat(2, 1fr);
	// gap: 10px;
	position: relative;
	width: 100%;
	margin: 0 auto;
	&::before {
		content: "";
		display: block;
		grid-area: 2 / 1 / 4 / 3;
		background: var(--wp--preset--color--white);
	}
}

@media screen and (min-width: 768px) {
	.home-hero {
		grid-template-columns:
			1fr repeat(3, minmax(0, var(--home-hero-3col-width)))
			1fr;
		padding-left: var(--wp--style--root--padding-right, 1.5rem);
		padding-right: var(--wp--style--root--padding-right, 1.5rem);
		&::before {
			grid-area: 1 / 2 / 3 / 5;
		}
	}
}

.home-hero-image-1 {
	overflow: hidden;
	grid-area: 1 / 1 / 1 / 3;
	padding: 0 0 0 30px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	.home-hero-image-1 {
		grid-area: 1 / 2 / 1 / 4;
		padding: 0;
	}
}

.title-and-text {
	grid-area: 2 / 1 / 2 / 3;
	position: relative;
	z-index: 1;
	margin: -10px 10px 0 0;
	padding: 30px;
	background: var(--wp--preset--color--white);

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 10px;
		right: -10px;
		bottom: 0;
		width: 10px;
		background: var(--wp--preset--color--orange);
	}

	h2 {
		margin: 0;
		font-size: var(--wp--preset--font-size--xx-large);
		font-weight: var(--wp--custom--font-weight--black);
		line-height: 1;
		text-transform: uppercase;

		span {
			font-family: var(--wp--preset--font-family--condensed);
			font-size: var(--wp--preset--font-size--large);
			font-weight: 500;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			word-wrap: break-word;
			opacity: 0.6;
		}
	}
}

@media screen and (min-width: 768px) {
	.title-and-text {
		grid-area: 1 / 4 / 3 / 4;
		min-height: 650px;
		margin: 0 0 30px -110px;
		padding: 0 30px 30px;
		&::after {
			display: none;
		}
	}
}

@media screen and (min-width: 960px) {
	.title-and-text {
		grid-area: 1 / 4 / 1 / 4;
		margin: 0 0 -30px -140px;
		padding: 0 65px 45px;
	}
}

.title-and-text-shadow {
	display: none;
	grid-area: 1 / 4 / 3 / 6;
	margin: 0 0 0 -80px;
	background: var(--home-hero-container-bg) var(--wp--preset--color--orange);
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.title-and-text-shadow {
		display: block;
		grid-area: 1 / 4 / 3 / 6;
	}
}

@media screen and (min-width: 960px) {
	.title-and-text-shadow {
		grid-area: 1 / 4 / 1 / 6;
		margin: 0 0 -60px -110px;
	}
}

.home-hero-image-2 {
	overflow: hidden;
	grid-area: 1 / 1 / 1 / 1;
	aspect-ratio: 1 / 1;
	padding: 0 5px 0 0;
	// height: 250px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	.home-hero-image-2 {
		grid-area: 1 / 2 / 1 / 2;
		padding: 10px 5px 0 0;
	}
}

@media screen and (min-width: 960px) {
	.home-hero-image-2 {
		// height: 470px;
	}
}

.home-hero-image-3 {
	overflow: hidden;
	grid-area: 1 / 2 / 1 / 2;
	aspect-ratio: 1 / 1;
	padding: 0 0 0 5px;
	// height: 250px;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	.home-hero-image-3 {
		grid-area: 1 / 3 / 1 / 3;
		padding: 10px 5px 0 5px;
	}
}

@media screen and (min-width: 960px) {
	.home-hero-image-3 {
		// height: 470px;
	}
}

.logo-block {
	display: flex;
	grid-area: 2 / 1 / 2 / 3;
	align-items: center;
	justify-content: start;
	background-image: var(--logo-block-bg);
	background-color: var(--wp--preset--color--white);
	background-position: left top;
	background-size: auto 50%;
}

@media screen and (min-width: 768px) {
	.logo-block {
		grid-area: 2 / 2 / 2 / 4;
	}
}

@media screen and (min-width: 960px) {
	.logo-block {
		grid-area: 1 / 4 / 1 / 6;
		margin: 60px calc(var(--wp--style--root--padding-right, 1.5rem) * -1) 0
			0;
	}
}

.logo-block-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	text-align: center;
	img {
		max-width: 100%;
		width: 50%;
	}
}

@media screen and (min-width: 768px) {
	.logo-block-image {
		padding: 20px 130px 20px 20px;
		img {
			width: 60%;
		}
	}
}

@media screen and (min-width: 960px) {
	.logo-block-image {
		max-width: var(--home-hero-3col-width);
		padding: 20px 40px;
		img {
			width: auto;
		}
	}
}

.home-hero-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-area: 3 / 1 / 3 / 6;
	margin: 0 0 0 30px;
	padding: 0 0 10px 0;
	// background: var(--wp--preset--color--white);
	border-bottom: 10px solid var(--wp--preset--color--orange);
	border-right: 10px solid var(--wp--preset--color--orange);
}

@media screen and (min-width: 768px) {
	.home-hero-grid {
		grid-template-columns:
			1fr repeat(3, minmax(0, var(--home-hero-3col-width)))
			1fr;
		grid-area: 2 / 1 / 2 / 6;
		margin: 0;
		padding: 0;
		border: none;
		background: transparent;
	}
}
